.centerShit {
  text-align: center;
}
section {
  padding: 0 .5em;
}
body {
  font-size: 1em;
  background-color: #00BFFF;
}
/* Not good with section. Very basic but for any bigger site this is a terrible fucking idea. So don't keep it */
h1 {
  font-family: Century Gothic;
  font-size: 2em;
}
footer {
  clear: both;
}
ul li {
  text-decoration: none;
}
.navList {
  text-decoration: none;
  display: inline;
}
a {
  text-decoration: none;
}
